$LawnGreen: #80c100;
$GhostWhite: #ffffff3d;
$white: #ffffff;
$transparent: transparent;
$font-options: inherit;
$font-secondary: "Poppins", sans-serif;
$paragraph-color: #818090;
$black: #000;
$black-color: #2b2540;
$SlateGray: rgba(108, 118, 134, 0.1);
$WhiteSmoke: #eee;
$AliceBlue: #e9ecef;
$Gainsboro: #e5e5e5;
$shadow: 8px 10px 24px rgba(0, 0, 0, 0.1);
$shadow-offer: 6px 8px 20px rgba(0, 0, 0, 0.08);
$LightSlateGray: #869791;

//medias
$xxl: (
    max-width: 1440px,
);

$xl: (
    max-width: 1400px,
);

$laptod: (
    max-width: 1024px,
);

$md: (
    max-width: 991px,
);
$mobileL: (
    max-width: 576px,
);
