$LawnGreen: #80c100;
$GhostWhite: #ffffff3d;
$white: #ffffff;
$transparent: transparent;
$font-options: inherit;
$font-secundary: "Poppins", sans-serif;
$paragraph-color: #818090;
$black: #000;
$black-color: #2b2540;
$SlateGray: rgba(108, 118, 134, 0.1);
$WhiteSmoke: #eee;
$AliceBlue: #e9ecef;

//medias
$xxl: (
    max-width: 1440px,
);

$md: (
    max-width: 768px,
);
$mobileL: (
    max-width: 576px,
);
