.Details {
    align-items: center;
    background-color: $Gainsboro;
    display: flex;
    flex-direction: column;
    padding: 80px 0;
    width: 100%;

    // &::after {
    // background: $LawnGreen;
    // content: "";
    // display: block;
    // height: 1px;
    // left: 50%;
    // margin-top: 15px;
    // position: absolute;
    // transform: translate(-50%, 50%);
    // width: 200px;
    // }

    &-content {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 1440px;
        width: 100%;
    }

    &-container {
        background: $white;
        padding: 20px;

        &-images {
            display: flex;
            padding-top: 30px;
            width: 100%;
        }
    }

    &-historical {
        padding: 0 0.7rem;
        width: 66.66666667%;

        &-image {
            height: auto;
            padding: 0 0.5rem;
            width: 50%;
        }
    }

    &-right {
        background: $white;
        padding: 0 0.5rem;
        width: 33.33333333%;
    }

    &-image {
        height: auto;

        width: 100%;
    }

    &-title {
        font-size: 36px;
        font-weight: 500;
        line-height: 45px;
        padding-top: 30px;

        &-secondary {
            font-size: 24px;
            font-weight: 500;
            padding-top: 20px;
        }
    }

    &-text {
        color: $paragraph-color;
        font-family: $font-secondary;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        padding-top: 20px;
    }

    &-circle {
        color: $LawnGreen;
        font-size: 18px;
        padding-right: 7px;
    }

    &-instruction {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        padding-top: 13px;
    }

    &-comments {
        padding-top: 60px;

        &-counter {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 30px;
        }
    }

    &-comment {
        border-bottom: 1px solid $LightGainsboro;
        display: flex;
        margin-bottom: 35px;
        padding-bottom: 35px;
        width: 100%;

        &-picture {
            height: auto;
            padding-right: 22px;
            width: 15%;
        }

        &-information {
            padding-left: 20px;
        }

        &-container {
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
            width: 100%;
        }

        &-name {
            font-size: 20px;
            font-weight: 500;
        }

        &-text {
            color: $paragraph-color;
            font-family: $font-secondary;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
        }

        &-reply {
            align-items: center;
            background: none;
            border: none;
            color: $LawnGreen;
            display: flex;
            gap: 5px;
            transition: all 0.3s ease-in-out 0.1s;

            &:hover {
                color: $black-color;
            }
        }
    }

    &-input {
        background: $white;
        border: none;
        box-shadow: $shadow-input;
        font-size: 16px;
        height: 55px;
        margin-bottom: 30px;
        padding: 10px 22px;
        width: 100%;

        &:focus-visible {
            border: 2px dashed $LawnGreen;
            outline: none;
        }

        &-group {
            width: 48.5%;
        }

        &-comment {
            height: 168px;
        }
    }

    &-form {
        width: 100%;
        &-title {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 30px;
        }

        &-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }

    @include media-breakpoint-down(lg) {
        &-content {
            max-width: 720px;
        }
    }

    @include media-breakpoint-down(md) {
        &-content {
            max-width: 720px;
            max-width: 540px;
        }
    }

    @include media-breakpoint-down(sm) {
    }
}
