.Authors {
    align-items: center;
    background-color: $Gainsboro;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    width: 100%;

    &-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1440px;
        width: 100%;
    }

    @include media-breakpoint-down(lg) {
        &-content {
            max-width: 720px;
        }
    }

    @include media-breakpoint-down(md) {
        &-content {
            max-width: 720px;
            max-width: 540px;
        }

        // &-card {
        // 	width: 100%;
        // }
    }

    @include media-breakpoint-down(sm) {
    }
}
