.Footer {
    background-color: $white;
    width: 100%;

    &-container {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 auto;
        max-width: 1420px;
        padding: 100px 0;
    }

    &-title {
        border-bottom: 1px solid $LawnGreen;
        color: $black-color;
        display: inline-block;
        font-family: $font-options;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 15px;
        padding-bottom: 5px;
    }

    &-helpInfo {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin-top: 5px;

        // @include media-breakpoint-down(lg) {
        //     margin-bottom: 30px;
        // }

        // @include media-breakpoint-down(sm) {
        // margin-bottom: 30px;
        // width: 100%;
        // }
    }

    &-help {
        line-height: 1.5;
        margin-right: 120px;
        width: 360px;

        // @include media-breakpoint-down(lg) {
        // margin-right: 0px;
        // }
    }

    &-helpItem {
        border-left: 2px solid $LawnGreen;
        margin-bottom: 24px;
        padding-left: 9px;
        padding-top: 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &-helpText {
        font-family: $font-options;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 8px;
    }

    &-helpGreen {
        color: $LawnGreen;
        font-family: $font-options;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 0;
        transition: color ease-in-out 0.3s;

        &:hover {
            color: $black-color;
        }
    }

    &-socialList {
        align-items: center;
        display: flex;
        gap: 8px;
        margin-bottom: 0;
        padding: 0;
    }

    &-socialLink {
        list-style: none;
    }

    &-icon {
        color: $LawnGreen;
        transition: color 0.3s ease-in-out 0.1s;

        &:hover {
            color: $black-color;
        }
    }

    &-quick {
        // margin-left: 228px;
        // text-align: center;
        width: 240px;

        // @include media-breakpoint-down(lg) {
        //     margin-left: 0px;
        // }
        // @include media-breakpoint-down(sm) {
        //     margin-bottom: 30px;
        //     width: 100%;
        // }
    }

    &-list {
        margin-top: 5px;
        padding: 0;

        // @include media-breakpoint-down(sm) {
        //     margin-bottom: 0;
        //     margin-top: 0;
        // }
    }

    &-link {
        list-style: none;
        margin-bottom: 15px;
    }

    &-item {
        color: $black-color;
        font-family: $font-options;
        font-size: 16px;
        text-decoration: none;
        text-transform: capitalize;
        transition: color ease-in-out 0.35s;

        &:hover {
            color: $LawnGreen;
        }
    }

    &-support {
        // margin-left: 118px;
        width: 240px;

        // @include media-breakpoint-down(lg) {
        //     margin-left: 0;
        // }
        // @include media-breakpoint-down(sm) {
        //     margin-bottom: 30px;
        //     width: 100%;
        // }
    }

    &-opening {
        // margin-left: 88px;
        width: 448px;

        // @include media-breakpoint-down(lg) {
        //     margin-left: 0;
        // }

        // @include media-breakpoint-down(sm) {
        //     width: 100%;
        // }
    }

    &-table {
        border: 1px solid $paragraph-color;
        border-collapse: collapse;
        border-spacing: 2px;
        border-style: solid;
        display: table;
        margin-top: 5px;
        width: 450px;

        @include media-breakpoint-down(sm) {
            margin-bottom: 30px;
            width: 100%;
        }
    }

    &-tablecell {
        border: 1px solid map-get($gray, medium);
        color: $black-color;
        font-family: $font-options;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        margin: 0;
        padding: 8px;
        text-align: left;
    }

    &Copyright {
        background-color: #f3f6fd;
        padding: 15px 0;
        width: 100%;

        &-content {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            width: 1420px;

            @include media-breakpoint-down(lg) {
                width: 720px;
            }
            @include media-breakpoint-down(sm) {
                flex-direction: column;
                width: 360px;
            }
        }

        &-text {
            color: $black-color;
            font-family: $font-secondary;
            font-size: 14px;
            font-weight: 500;
            line-height: 28px;
            margin-bottom: 0;
            margin-bottom: 10px;

            @include media-breakpoint-down(sm) {
            }
        }

        &-image {
            background-image: url("https://foodingly.netlify.app/assets/img/common/cards.png");
            height: 35px;
            width: 212px;
        }
    }

    @include media-breakpoint-down(lg) {
        &-container {
            justify-content: flex-start;
            padding: 70px 0 40px;
            width: 720px;
        }

        &-helpInfo {
            margin-bottom: 30px;
        }

        &-help {
            margin-right: 0px;
        }

        &-quickP {
            margin-left: 0px;
        }

        &-support {
            margin-left: 0;
        }

        &-opening {
            margin-left: 0;
        }
    }
    @include media-breakpoint-down(sm) {
        &-container {
            justify-content: flex-start;
            padding: 70px 0 40px;
            width: 360px;
        }

        &-helpInfo {
            margin-bottom: 30px;
            width: 100%;
        }

        &-quick {
            margin-bottom: 30px;
            width: 100%;
        }

        &-list {
            margin-bottom: 0;
            margin-top: 0;
        }

        &-support {
            margin-bottom: 30px;
            width: 100%;
        }

        &-opening {
            width: 100%;
        }
    }
}
